<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Botão Dinâmico</title>
    <link rel="stylesheet" href="../css/estilo.css"> <!-- Incluindo o arquivo CSS -->
</head>

<body> <!-- Início do corpo da página -->
    <h1>Ponteiro Giratório</h1>
    <!-- <button class="botao-dinamico" onclick="mostrarAlerta()">Clique para ligar</button> -->
    <div class="ponteiro-container">
        <div id="ponteiro"></div>
    </div>

    <div class="botoes">
        <button id="girar-esquerda">⟲ Esquerda</button>
        <button id="girar-direita">Direita ⟳</button>
    </div>




    <!-- Local destinado a inclusão do JavaScript -->
    <script src="../js/script.js"></script>
</body>

</html>